<div class="flex flex-col gap-2">
  <label for="Duração">{{ label }}</label>

  <div class="relative flex grow flex-col">
    <p-dropdown
      [filter]="filter"
      filterBy="name"
      [virtualScroll]="virtualScroll"
      [showClear]="showClear"
      [id]="'teste'"
      [formControl]="control"
      [options]="options"
      [loading]="loading"
      [optionLabel]="optionLabel"
      [placeholder]="placeholder"
      (onChange)="onChange.emit($event.value)"
      styleClass="w-full"
      [lazy]="lazy"
      (onLazyLoad)="onLazyLoad.emit($event)"
      [virtualScrollItemSize]="virtualScrollItemSize"
      [virtualScrollOptions]="scrollOptions"
    >
    </p-dropdown>
    <ng-content select="[sufix]"></ng-content>
  </div>
  <small class="text-red-500" *ngIf="control?.invalid && (control?.dirty || control?.touched)">
    {{ validationMessage }}
  </small>
</div>
