<div class="flex min-h-full w-full flex-col items-center justify-center px-5 py-10">
  <div class="mb-10 flex flex-col items-center justify-center">
    <h1 class="max-w-[38rem] text-center text-primary-default">Novo Serviço</h1>
    <h2 class="mt-4 max-w-[30rem] text-center text-base text-gray-500">Crie um novo seviço para sua empresa.</h2>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="w-full max-w-[530px]">
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 flex flex-col gap-2">
        <label for="Nome">Nome do Serviço</label>
        <input
          formControlName="name"
          type="text"
          [ngClass]="{
            'ng-invalid ng-dirty': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched),
          }"
          placeholder="Digite o nome do Serviço"
          pInputText
        />
        <small
          class="text-red-500"
          *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
        >
          Nome do serviço é obrigatório
        </small>
      </div>

      <!-- duração -->

      <div class="col-span-2 flex flex-col gap-2">
        <label for="Duração">Duração</label>

        <div class="col-span-2 flex flex-wrap gap-2">
          <select-form
            class="grow-[2]"
            [options]="hours"
            [control]="form.controls.hours"
            placeholder="00 Horas"
          ></select-form>
          <select-form
            class="grow-[2]"
            [options]="minutes"
            [control]="form.controls.minutes"
            placeholder="00 Minutos"
          ></select-form>
          <button pTooltip="Mudar Para Data" tooltipPosition="bottom" type="button">
            <i class="pi pi-calendar"></i>
          </button>
        </div>
      </div>

      <!-- price -->

      <div class="col-span-2 flex flex-col gap-2">
        <label for="Valor">Valor</label>
        <p-inputNumber
          styleClass="w-full"
          [minFractionDigits]="2"
          formControlName="price"
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get('price')?.invalid && (form.get('price')?.dirty || form.get('price')?.touched),
          }"
          placeholder="Digite o valor"
          mode="currency"
          currency="BRL"
        />
        <small
          class="text-red-500"
          *ngIf="form.get('price')?.invalid && (form.get('price')?.dirty || form.get('price')?.touched)"
        >
          Valor é obrigatório
        </small>
      </div>
    </div>

    <p-button [loading]="loading" type="submit" styleClass="mt-11 block w-full " label="Prosseguir" />
  </form>

  <small *ngIf="errorMessage" class="mt-2 text-red-600">{{ errorMessage }}</small>
</div>
