<p-sidebar styleClass="w-64" #sidebarRef modal="false" [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div class="flex h-[51px] w-full items-center justify-between border-b border-[#D9D9D9] bg-white p-4">
      <logo-svg class="block h-[30px] w-[150px]" />
      <button (click)="sidebarVisible = false" class="items-center justify-center">
        <i class="pi pi-bars text-lg text-primary-default"></i>
      </button>
    </div>

    <div class="px-6">
      <div
        pRipple
        enterClass="hidden"
        enterActiveClass="slidedown"
        leaveToClass="hidden"
        leaveActiveClass="slideup"
        class="align-items-center justify-content-between text-600 p-ripple flex cursor-pointer"
      >
        <p class="mb-2 mt-8">APLICAÇÕES</p>
      </div>
      <ul class="m-0 list-none overflow-hidden p-0">
        <li>
          <a
            [routerLink]="['/scheduling']"
            routerLinkActive="text-primary-default"
            [routerLinkActiveOptions]="{ exact: true }"
            pRipple
            class="align-items-center border-round text-700 hover:surface-100 transition-duration-150 p-ripple my-5 flex cursor-pointer transition-colors"
          >
            <i class="pi pi-calendar mr-2"></i>
            <span class="font-medium">Agendamentos</span>
          </a>
        </li>
        <li>
          <a
            pRipple
            class="align-items-center border-round text-700 hover:surface-100 transition-duration-150 p-ripple my-5 flex cursor-pointer transition-colors"
          >
            <i class="pi pi-user mr-2"></i>
            <span class="font-medium">Clientes</span>
          </a>
        </li>
        <li>
          <a
            pRipple
            pStyleClass="@next"
            enterClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="align-items-center border-round text-700 hover:surface-100 transition-duration-150 p-ripple my-5 flex cursor-pointer transition-colors"
          >
            <i class="pi pi-chart-line mr-2"></i>
            <span class="font-medium">Serviços</span>
          </a>
        </li>
      </ul>

      <div
        pRipple
        enterClass="hidden"
        enterActiveClass="slidedown"
        leaveToClass="hidden"
        leaveActiveClass="slideup"
        class="align-items-center justify-content-between text-600 p-ripple flex cursor-pointer"
      >
        <p class="mb-2 mt-8">SISTEMA</p>
      </div>
      <ul class="m-0 list-none overflow-hidden p-0">
        <li>
          <a
            pRipple
            class="align-items-center border-round text-700 hover:surface-100 transition-duration-150 p-ripple my-5 flex cursor-pointer transition-colors"
          >
            <i class="pi pi-cog mr-2"></i>
            <span class="font-medium">Configurações</span>
          </a>
        </li>
      </ul>
    </div>
  </ng-template>
</p-sidebar>

<div
  class="fixed z-10 flex h-[51px] w-full border-b border-[#D9D9D9] bg-white transition-[padding-left] duration-75"
  [ngClass]="{ 'pl-64': sidebarVisible }"
>
  <div class="flex h-full w-full justify-between px-6 py-1">
    <button *ngIf="!sidebarVisible" (click)="sidebarVisible = true" class="items-center justify-center">
      <i class="pi pi-bars text-lg text-primary-default"></i>
    </button>

    <p-menu #menu [model]="menuItems" [popup]="true" />

    <button (click)="menu.toggle($event)">
      <p-avatar
        icon="pi pi-user"
        size="normal"
        class="flex items-center justify-end"
        [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
        shape="circle"
      />
    </button>
  </div>
</div>
<div [ngClass]="{ 'ml-64': sidebarVisible }" class="relative transition-[margin-left] duration-100">
  <div class="p-6 pt-14">
    <div class="mb-5 mt-7 flex flex-col gap-1">
      <h1 class="text-2xl text-primary-default">Agendamentos</h1>
      <p class="text-base text-grays-default">Bem vindo a pagina de agendamento gostaria de ver suas agendamentos ?</p>
    </div>

    <p-tabView>
      <p-tabPanel [disabled]="loadingScheduling" header="Gráfico">
        <div class="content mt-5 h-[70vh] w-full">
          <div
            [ngClass]="{
              'after:absolute after:left-0 after:top-0 after:z-10 after:flex after:h-full after:w-full after:items-center after:justify-center after:bg-white after:bg-opacity-80':
                loadingScheduling,
            }"
            class="relative h-full w-full"
          >
            <sx-calendar #schedule [calendarApp]="calendarApp"> </sx-calendar>

            <div
              *ngIf="loadingScheduling"
              class="absolute left-2/4 top-2/4 z-20 flex -translate-x-2/4 -translate-y-2/4 flex-col items-center gap-3"
            >
              <p class="animate-pulse text-primary-dark">Carregando</p>

              <div class="flex items-center justify-center space-x-2">
                <div
                  class="bg-primary-light h-2 w-2 animate-bounce rounded-full opacity-30 [animation-delay:-0.3s]"
                ></div>
                <div
                  class="bg-primary-light h-2 w-2 animate-bounce rounded-full opacity-50 [animation-delay:-0.15s]"
                ></div>
                <div class="bg-primary-light h-2 w-2 animate-bounce rounded-full"></div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #timeGridEvent let-arg> </ng-template>
      </p-tabPanel>
      <p-tabPanel [disabled]="loadingScheduling" style="padding: 0" class="p-0" styleClass="p-0" header="Lista">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
