<p-dialog #dialog [modal]="true" [(visible)]="modalServiceVisible">
  <new-service
    (successHandler)="handlerSuccessCreatedService()"
    [serviceApi]="serviceApi"
    [form]="serviceForm"
  ></new-service>
</p-dialog>

<p-sidebar
  styleClass="w-full max-w-[800px] !z-[2000] "
  #sidebarRef
  position="right"
  [modal]="true"
  [(visible)]="sidebarVisible"
>
  <ng-template pTemplate="headless">
    <form [formGroup]="schedulingForm" class="mb-5 h-full overflow-y-auto px-10">
      <div class="mt-7 flex flex-col gap-1">
        <h1 class="mb-4 text-2xl text-primary-default">Agendamentos</h1>
        <p class="max-w-96 text-grays-default">
          {{
            isEditMode
              ? 'Atualizar Agendamento, preencha as informações abaixo'
              : 'Crie um novo Agendamento, preencha as informações abaixo'
          }}
        </p>

        <div class="mt-4 flex gap-2">
          <select-form placeholder="Responsavel" class="grow" label="Responsável"></select-form>

          <div class="flex grow flex-col gap-2 sm:col-span-1">
            <label for="Data do agendamento">Data do agendamento</label>
            <p-calendar dateFormat="dd/mm/yy" styleClass="w-full" formControlName="date" />
          </div>
        </div>

        <span class="my-6 w-full border border-dashed"></span>

        <div class="flex flex-col gap-4">
          <input-text-form
            class="grow-[10]"
            [control]="schedulingForm.controls.name"
            label="Nome do Cliente"
          ></input-text-form>

          <div class="flex gap-2">
            <div class="flex grow flex-col gap-2">
              <label for="phone">Celular de contato</label>
              <p-inputMask
                styleClass="grow w-full"
                mask="(99) 99999-9999"
                placeholder="(99) 99999-9999"
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    schedulingForm.get('phone')?.invalid &&
                    (schedulingForm.get('phone')?.dirty || schedulingForm.get('phone')?.touched),
                }"
                formControlName="phone"
                type="phone"
              ></p-inputMask>
              <small
                class="text-red-500"
                *ngIf="
                  schedulingForm.get('phone')?.invalid &&
                  (schedulingForm.get('phone')?.dirty || schedulingForm.get('phone')?.touched)
                "
              >
                Celular é obrigatório
              </small>
            </div>

            <input-text-form class="grow" [control]="schedulingForm.controls.name" label="Email"></input-text-form>
          </div>

          <span class="my-6 w-full border border-dashed"></span>

          <div>
            <div class="flex flex-col gap-2">
              @for (serviceGroup of schedulingForm.controls.services.controls; track $index) {
                <p-menu #menu [model]="menuServicesOptions" appendTo="body" [popup]="true" />

                <div class="flex flex-wrap items-end gap-2">
                  <select-form
                    [control]="serviceGroup.controls.service"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="20"
                    [options]="items"
                    [scrollOptions]="scrollOptions"
                    placeholder="Serviço a ser realizado"
                    class="grow-[6]"
                    label="Serviço"
                  >
                    <button
                      (click)="openMenu(menu, $event, $index)"
                      icon="pi pi-ellipsis-v"
                      sufix
                      class="absolute right-6 top-1/2 w-8 -translate-x-1/2 -translate-y-1/2"
                    >
                      <i class="pi pi-ellipsis-h"></i></button
                  ></select-form>
                  <input-number-form class="grow sm:grow-0" [control]="serviceGroup.controls.value">
                    <button external-icon (click)="removeService($index)">
                      <i class="pi pi-trash"></i>
                    </button>
                  </input-number-form>
                </div>
              }
            </div>

            <button (click)="addService()" class="mt-1 text-primary-default">
              <small>+Adicionar novo serviço</small>
            </button>
          </div>

          <!-- duração -->

          <div class="flex flex-col gap-2">
            <label for="Duração">Duração</label>

            <div class="flex flex-wrap gap-2">
              <select-form
                class="grow-[2]"
                [options]="hours"
                [control]="schedulingForm.controls.hours"
                placeholder="00 Horas"
              ></select-form>
              <select-form
                class="grow-[2]"
                [options]="minutes"
                [control]="schedulingForm.controls.minutes"
                placeholder="00 Minutos"
              ></select-form>
              <button pTooltip="Mudar Para Data" tooltipPosition="bottom" type="button">
                <i class="pi pi-calendar"></i>
              </button>
            </div>
          </div>

          <input-textarea-form
            class="grow"
            [control]="schedulingForm.controls.name"
            label="Observações"
            placeholder="Digite suas observações"
          ></input-textarea-form>

          <input-number-form class="grow" [control]="schedulingForm.controls.name" label="Desconto">
          </input-number-form>

          <div class="flex flex-wrap gap-2">
            <input-number-form class="grow" [control]="schedulingForm.controls.name" label="Valor"> </input-number-form>

            <input-number-form class="grow" [control]="schedulingForm.controls.name" label="Valor Total">
            </input-number-form>
          </div>
        </div>
      </div>

      <p-button size="small" [loading]="loading" type="submit" styleClass="mt-8 block w-full " label="Prosseguir" />
    </form>
  </ng-template>
</p-sidebar>
