@layer tailwind-base, primeng, tailwind-utilities;
@import '../themes/themes/tailwind/tailwind-light/theme.scss';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: 'Inter', sans-serif;
}

a {
  cursor: pointer;
}

@layer base {
  h1 {
    @apply text-5xl font-medium;
  }
  h2 {
    @apply text-xl;
  }
}
