$primaryColor: #5220af !default;
$primaryLightColor: #deccff !default;
$primaryDarkColor: #371674 !default;
$primaryDarkerColor: #371674 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #eff6ff !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import './_fonts';
@import '../../theme-base/_components';
@import '../_extensions';
